/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka';
}

.clearfix::after{
    contain: "";
    display: table;
    clear: both;
}

/* parte header */

header h1{
    color: rgb(220, 21, 93);
    text-align: center;
    margin: 1.8rem;
    font-family: 'Fredoka-regular';
}

/* parte presentazione del team e sezioni*/

main{
    margin: auto;
    width: 75%;
}

.presentation-title{
    text-align: center;
    margin-bottom: 3rem;
}

.container img{
    height: 6rem;
    float: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 0.5rem;
}

.container{
    float: left;
    height: 6rem;
    background-color: rgb(40, 39, 39);
    min-width: calc((100% / 3) - 1rem);
    margin: 0.5rem;
    box-shadow: 3px 3px 2px lightgray;
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

.description{
    padding: 0.5rem 0 0.4rem 0;
}

div h2,h3{
    color: white;
    padding-top: 0.3rem;
}

div h2{
    font-family: 'Fredoka-regular';
    font-size: 1rem;
}

div h3{
    font-size: 0.8rem;
}

.mail{
    color: rgb(14, 126, 224);
    font-size: 0.8rem;
    padding-top: 0.4rem;
}

